<!DOCTYPE html>
<html>
<head>
    <title>Country Flags API reference</title>
</head>
<body>
    <pre>Country Flags API: endpoint reference
All responses are in JSON

REQUEST: /
RESPONSE:
    A welcome message from this API. 

REQUEST: /help
RESPONSE:
    This message.

REQUEST: /mainhue/{continent}
RESPONSE:
    A list of countries in a specified continent (case-insensitively)and the main hue of their 
    country flag. Each country and their main hue is a dictionary with the country name as the key
    and main hue as the associated value. 
    Available continents: North_America; South_America; Europe; Africa; Asia; Oceania
    </pre>
</body>
</html>

